@{ ViewBag.Title = @Carcass.Resources.Titles.About; }

<article>
    <p>
        Carcass on github: <a href="https://github.com/artiz/Carcass">https://github.com/artiz/Carcass</a>
    </p>
    
    <h4>Project details</h4>
    <p>IDE (solution included): Visual Studio 2012</p>


</article>
