@{ ViewBag.Title = @Carcass.Resources.Titles.About; }

<article>
    <p>
        Carcass on github: <a href="https://github.com/artiz/Carcass">https://github.com/artiz/Carcass</a>
    </p>
</article>
