@{ ViewBag.Title = @Carcass.Resources.Titles.Contact; }

<section class="contact">
    <strong>Phone</strong>
    <p>
        <span class="label">Main:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>
</section>

<section class="contact">
    <strong>Email</strong>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:support@example.com">support@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:marketing@example.com">marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:general@example.com">general@example.com</a></span>
    </p>
</section>

<address>
    <strong>Address</strong>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</address>