@using Carcass.Resources;
@{ ViewBag.Title = Titles.HomePage;
   ViewBag.HidePageTitleBlock = true; 
}

<div class="hero-unit logo-128">
    <h1>Carcass</h1> 
    <h2>ASP.NET&nbsp;MVC&nbsp;4 + Twitter&nbsp;Bootstrap</h2>
    <p>Используй лучшее!</p>
</div>
<div class="row">
    <div class="span4">
        <h2><span class="cs-icon-number one"></span>ASP.NET MVC 4</h2>
        <p>ASP.NET MVC 4 является основой для построения масштабируемых и надежных веб-приложений
            с использованием хорошо известных шаблонов проектирования и огромных возможностей ASP.NET и .NET Framework.</p>
        <p>Чтобы узнать больше о <span class="label label-info">ASP.NET MVC 4</span> посетите
            <a href="http://www.asp.net/mvc/mvc4" title="ASP.NET MVC 4 Website">http://www.asp.net/mvc/mvc4</a>.</p>
        <p>На 
            <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">оффициальных форумах</a> <span class="label label-info">ASP.NET MVC 4</span> можно 
            задать любые интересующие ваc вопросы.</p>
    </div>

    <div class="span4">
        <h2><span class="cs-icon-number two"></span>Twitter Bootstrap</h2>
        <p>Элегантный, интуитивный и мощный HTML/CSS/JavaScript фреймворк для простой и быстрой разработки веб-приложений.</p>
        <p><a class="btn btn-info" href="http://twitter.github.com/bootstrap/">@Buttons.ReadMore &raquo;</a></p>
    </div>
    <div class="span4">
        <h2><span class="cs-icon-number three"></span>Carcass</h2>
        <p>Carcass объединяет эти превосходные инструменты разработки в один <span class="text-success">каркас</span> для быстрого построения веб-приложений.</p>
        <p>Для использования Carcass достаточно <a href="https://github.com/artiz/Carcass/downloads">скачать</a> копию этого проекта.</p>
    </div>
</div>
