@{ ViewBag.Title = "Documentation: Data Access Layer"; }

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index")">Home</a> <span class="divider">/</span></li>
    <li class="active">Data Access Layer</li>
</ul>
<article>
    

</article>
