

/* Carcass MVC forms classes */
.validation-summary-valid { display: none; }
.validation-summary-errors { display: block; margin-bottom: 10px; }
    .validation-summary-errors ul { margin-bottom: 0;}

.legacy-mvc-form input.input-validation-error, 
    .legacy-mvc-form select.input-validation-error { background-color: #f2dede;  border-color: #cc0000; }
.legacy-mvc-form .validation-summary-errors { color: #cc0000; border: 1px solid #cc0000; padding: 5px; }
.legacy-mvc-form .editor-field .field-validation-error { color: #cc0000; }


.control-group .controls .alert { margin: 0; }
.field-validation-valid { display: none; }
.field-validation-error { display: inline-block; margin: 5px 0 10px;}
    .field-validation-error.strong { font-weight: bold; }
    .field-validation-error.alert { margin: 0; padding: 4px 14px;  min-height: 20px; vertical-align: middle; display: inline-block; }

.form-inline-validation .control-group .control-label { margin-top: 5px; margin-bottom: 0; }
.form-inline-validation .controls input,
.form-inline-validation .controls select,
.form-inline-validation .controls textarea,
.form-inline-validation .input-file-button,
.form-inline-validation .input-append,
.form-inline-validation .input-prepend { margin-top: 5px; }

    .form-inline-validation .controls input[type="checkbox"] { margin-top: 10px; }

.form-inline-validation .input-append input,
.form-inline-validation .input-prepend input { margin-top: 0; }

.form-inline-validation .controls .field-validation-error { margin-top: 5px; }

/* DateTime control */
.datetime { width: 246px; display: inline-block; vertical-align: middle;}
.datetime .date { float: left; }
.datetime .time { float: right; }
.datetime .date input { width: 90px; }
.datetime .time input { width: 60px; }

/* Bordered tabs */
.tabs-border .nav.nav-tabs { margin-bottom: 0; }
.tabs-border .tab-content { 
    border-left: 1px solid #ddd; 
    border-bottom: 1px solid #ddd; 
    border-right: 1px solid #ddd;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.tabs-border .form-actions { margin-bottom: -20px;}
.tab-form { margin: 20px; }

