/* Carcass MVC forms classes */
.validation-summary-valid { display: none; }
.validation-summary-errors { display: block; margin-bottom: 10px; }
    .validation-summary-errors ul { margin-bottom: 0;}

.legacy-mvc-form input.input-validation-error, 
    .legacy-mvc-form select.input-validation-error { background-color: #f2dede;  border-color: #cc0000; }
.legacy-mvc-form .validation-summary-errors { color: #cc0000; border: 1px solid #cc0000; padding: 5px; }
.legacy-mvc-form .editor-field .field-validation-error { color: #cc0000; }

.display-label { margin: 14px 20px 0 0; font-weight: bold; float: left; width: 120px; min-height: 20px; }
    .display-label:after { content: ":"; }
.display-field { margin: 14px 20px 0 150px; clear: right; min-height: 20px; clear: right; word-wrap: break-word; }

.control-group .controls .alert { margin: 0; }
.field-validation-valid { display: none; }
.field-validation-error { display: inline-block; margin: 5px 0 10px;}
    .field-validation-error.strong { font-weight: bold; }
    .field-validation-error.alert { margin: 0; padding: 4px 14px;  min-height: 20px; vertical-align: middle; display: inline-block; }

.form-inline-validation .control-group .control-label { margin-top: 5px; margin-bottom: 0; }
.form-inline-validation .controls input,
.form-inline-validation .controls select,
.form-inline-validation .controls textarea,
.form-inline-validation .input-file-button,
.form-inline-validation .input-append,
.form-inline-validation .input-prepend { margin-top: 5px; }
    .form-inline-validation .controls input[type="checkbox"] { margin-top: 10px; }

.form-inline-validation .input-append input[type=text],
.form-inline-validation .input-prepend input[type=text] { margin-top: 0; }
.form-inline-validation .wysihtml5-toolbar { margin-top: 5px; }
.form-inline-validation .controls .field-validation-error { margin-top: 5px; }

.input-block-level + .field-validation-error { display: block; }

/* Bootstrap inputs CSS customization */
.input-append .add-on, .input-prepend .add-on { min-width: 16px; }

.input-append input[type=text], .input-prepend input[type=text] { width: 178px; }
.input-append.input-medium input[type=text], .input-prepend.input-medium input[type=text] { width: 122px; }
.input-append.input-large input[type=text], .input-prepend.input-large input[type=text] { width: 183px; }
.input-append.input-xlarge input[type=text], .input-prepend.input-xlarge input[type=text] { width: 243px; }
.input-append.input-xxlarge input[type=text], .input-prepend.input-xxlarge input[type=text] { width: 503px; }

/* DateTime control */
.datetime { display: inline-block; vertical-align: middle;}
    .datetime, .datetime.input-small, .datetime.input-medium { width: 220px; }
    .datetime.input-large  { width: 224px; }
    .datetime.input-xlarge { width: 284px; }
    .datetime.input-xxlarge { width: 544px; }

.datetime .datepicker-control { float: left;  }
.datetime .timepicker-control { float: right; }
.datetime .datepicker-control input { width: 75px; }
.datetime .timepicker-control input { width: 45px; }
.datetime.input-xlarge .datepicker-control input { width: 100px; }
.datetime.input-xlarge .timepicker-control input { width: 80px; }
.datetime.input-xxlarge .datepicker-control input { width: 280px; }
.datetime.input-xxlarge .timepicker-control input { width: 150px; }

/* Bordered tabs */
.tabs-border .nav.nav-tabs { margin-bottom: 0; }
.tabs-border .tab-content { 
    border-left: 1px solid #ddd; 
    border-bottom: 1px solid #ddd; 
    border-right: 1px solid #ddd;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.tabs-border .form-actions { margin-bottom: -20px;}
.tab-form { margin: 20px; }

/* Responsive layout */
@media (max-width: 979px) {

}

@media (max-width: 767px) 
{
    .input-append.input-medium, 
    .input-prepend.input-medium,
    .input-append.input-xlarge, 
    .input-prepend.input-xlarge,
    .input-append.input-xxlarge, 
    .input-prepend.input-xxlarge 
    {
        display: block;
        width: 100%;
        min-height: 30px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .input-append.input-medium input[type=text], 
    .input-prepend.input-medium input[type=text],
    .input-append.input-xlarge input[type=text], 
    .input-prepend.input-xlarge input[type=text],
    .input-append.input-xxlarge input[type=text], 
    .input-prepend.input-xxlarge input[type=text] 
    {
        display: block;
        width: 100%;
        min-height: 30px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
    }

    .input-append.input-medium .add-on, 
    .input-prepend.input-medium .add-on,
    .input-append.input-xlarge .add-on, 
    .input-prepend.input-xlarge .add-on,
    .input-append.input-xxlarge .add-on, 
    .input-prepend.input-xxlarge .add-on 
    {
        display: none;
    }

    .datetime, .datetime.input-small, .datetime.input-medium, .datetime.input-large, .datetime.input-xlarge, .datetime.input-xxlarge { width: 100%; }
    .datetime .datepicker-control { width: 60%; }
    .datetime .timepicker-control { width: 35%; }
    
    .datetime .datepicker-control input, .datetime .timepicker-control input,
    .datetime.input-medium .datepicker-control input, .datetime.input-medium .timepicker-control input,
    .datetime.input-large .datepicker-control input, .datetime.input-large .timepicker-control input,
    .datetime.input-xlarge .datepicker-control input, .datetime.input-xlarge .timepicker-control input,
    .datetime.input-xxlarge .datepicker-control input, .datetime.input-xxlarge .timepicker-control input { 
        width: 100%; 
        min-height: 30px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
    }

    .datetime .datepicker-control .add-on, .datetime .timepicker-control .add-on { display: none; }
}

@media (max-width: 480px) {

}


