body, input, button, select, textarea {
  font-family: "Lucida Grande", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Enable some nice Bootstrap design features in IE7-8 */
img { max-width: 10000px; }

/* Buttons */
.btn { 
    border-width: 1px;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffe6e6e6', GradientType=0); 
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6', endColorstr='#ffd9d9d9', GradientType=0); 
}


.btn-primary {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
}

.btn-primary:hover, .btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled] {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0044cc', endColorstr='#ff002299', GradientType=0);
}

.btn-warning {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}

.btn-danger {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
}

.btn-danger:hover, .btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled] {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd362f', endColorstr='#ffa9302a', GradientType=0);
}


.btn-success {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
}
.btn-success:hover, .btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled] {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff51a351', endColorstr='#ff499249', GradientType=0);
}

.btn-info {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
}
.btn-info:hover, .btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled] {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2f96b4', endColorstr='#ff2a85a0', GradientType=0);
}

.btn-inverse {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=true);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
}

.nav-collapse.collapse { overflow: visible; }
.alert .close { vertical-align: baseline;}
.popover .arrow { visibility: hidden; }

/* Carcass MVC classes overrides */
.input-block-level { min-height: 20px; }
.input-append.input-block-level input[type=text], .input-prepend.input-block-level input[type=text] { 
    min-height: 20px;
    padding-right: 40px;
}

.input-append.input-block-level .add-on, .input-prepend.input-block-level .add-on { top: 0; margin-bottom: -20px; }