body { padding-top: 40px;  }
body, input, button, select, textarea {
  font-family: "open sans", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Bootstrap navbar customization */
.navbar .navbar-inner { 
    background: #111111 url("../img/bg01.png") repeat; border-bottom: 1px solid #000000; border-top: 1px solid #000000;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

body > .navbar .brand {
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 38px;
  color: #666666;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

body > .navbar .brand:hover { text-decoration: none; text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);}
.navbar a.username { margin-right: 20px; font-weight: bold; text-decoration: none; }

h1, h2, h3, h4, h5, legend { text-shadow: 1px 1px 2px #cccccc; }
form h4 { margin-left: 180px; }

.footer { margin-bottom: 20px; }
.logo-128 { min-height: 128px; padding-left: 168px; 
            background-image: url("../img/logo-128.png"); background-repeat: no-repeat; 
            background-position: 10px 20px;
}
.hero-unit.logo-128 { background-position: 10px 60px; }

/* Bootstrap UI elements */
.alert-comment {  position: relative; padding-left: 6.5em; color: #111111; background-color: #fafafa; border-color: #e8e8e8; }
.alert pre { margin: 10px 0; }

.alert-comment:after { content: "Comment"; position: absolute; top: -1px; left: -1px;
  padding: 3px 7px; font-size: 12px; font-weight: bold;
  background-color: #f5f5f5; border: 1px solid #e8e8e8; color: #999999;
  -webkit-border-radius: 4px 0 4px 0; -moz-border-radius: 4px 0 4px 0; border-radius: 4px 0 4px 0;
}

.well-accent { background: #f5f5f5 url("../img/bg02.png") repeat; border-color: #cfcfcf;
    -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
    .well-accent h1 { margin-top: 0;  margin-bottom: 0;}

/* Nice numbers icons */
ol.round { list-style-type: none; padding-left: 0; }
ol.round li { margin: 25px 0; padding-left: 45px; }
.cs-icon-number { display: block; width: 30px; height: 30px; float: left; }
    ol.round li.zero, .cs-icon-number.zero { background: url("../img/numbers-30/0.png") no-repeat; }
    ol.round li.one, .cs-icon-number.one { background: url("../img/numbers-30/1.png") no-repeat; }
    ol.round li.two, .cs-icon-number.two { background: url("../img/numbers-30/2.png") no-repeat; }
    ol.round li.three, .cs-icon-number.three { background: url("../img/numbers-30/3.png") no-repeat; }
    ol.round li.four, .cs-icon-number.four { background: url("../img/numbers-30/4.png") no-repeat; }
    ol.round li.five, .cs-icon-number.five { background: url("../img/numbers-30/5.png") no-repeat; }
    ol.round li.six, .cs-icon-number.six { background: url("../img/numbers-30/6.png") no-repeat; }
    ol.round li.seven, .cs-icon-number.seven { background: url("../img/numbers-30/7.png") no-repeat; }
    ol.round li.eight, .cs-icon-number.eight { background: url("../img/numbers-30/8.png") no-repeat; }
    ol.round li.nine, .cs-icon-number.nine { background: url("../img/numbers-30/9.png") no-repeat; }

h1 .cs-icon-number, h2 .cs-icon-number, h3 .cs-icon-number { margin: 7px 10px 3px 0;}

/* Site elements */
#page-content { padding-top: 20px; }

#languages { margin: 0 20px; }

/* Examples */
.blog-post-thumbnail { padding: 10px 20px;}
.blog-post-header { margin-bottom: 20px; }
.blog-post-annotation {  }
.blog-post-header [class^="icon-"], .blog-post-header [class*=" icon-"] { vertical-align: middle; margin: 0 0 4px;}
.blog-post-footer { margin-top: 20px; text-align: right;}

/* Responsive layout */
@media (max-width: 979px) {
    body { padding-top: 0; }
}

@media (max-width: 480px) {
    form h4 { margin-left: 0; }
}
