@model Carcass.Models.ProductEditModel
@using Carcass.Resources


@using (Html.BeginForm("ProductEdit", "Example", FormMethod.Post, new { @class = "legacy-mvc-form" }))
{
    <div class="tab-form">
        @Html.ValidationSummary()
        @Html.EditorForModel()
    </div>
            
    @Html.CarcassFormActions(new Dictionary<string, object> { 
        { Buttons.Submit, new { type = "submit", @class = "btn-primary" } } });
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
